body{
    margin: 0;
}
.all{
    display:flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
}
.logo {
display: flex;
width: 40px;
padding: 5px;
}
.links {
display: flex;
font-size: 18px;
padding: 5px;
gap: 20px;
list-style-type: none;
}

.main{
    display: flex;
    padding: 10px 40px 10px 40px;
    background-color: #1F2937;
    color: white;
    justify-content: space-evenly;
}
.mainimg {
width: 400px;
}
.submain {
    padding-right: 20px;
}
.subhead {
    font-size: 48px;
    font-weight: bolder;
    flex-wrap: wrap;
}
.subtext {
    font-size: 18px;
    max-width: 500px;
}
.button, .button2{
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    width: 75px;
}

.button {
    font-weight: bold;
    border: none;
}

.button2 {
    border: 2px solid white;
}
.random{
display:flex;
flex-direction: column;
align-items: center;

}
.boxatext{
font-size: 36px;
color: #1F2937 ;
padding: 20px;
}
.boxa{
    display: flex;
    gap:30px;
}
.boxables {
    width: 100px;
}
.boximg {
    width: 100px;
}

.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-style: italic;
    background-color: #E5E7EB;
}
.quotetext{
    display: flex;
    max-width: 600px;
    justify-content: space-around;
    margin-bottom: -20px;
    
}
.quotee {
    font-weight: bold;
 
}
.ctamain{
    display: flex;
    padding: 60px;
    justify-content: center;
    align-items: center;
   
}

.cta{
    width: 750px;
    min-width: 300px;
    display: flex;
    background-color: #3882F6;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.cta2{
    padding-left: 40px;
    color: white;
}
.ctatime {
    font-weight: bold;
    margin-bottom: -10px;
}
.ctabutton {
    padding-right: 40px;
}
.footer{
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: center;
}
