body{
    margin: 0;
}
.all{
    display:flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
}
.logo {
display: flex;
width: 40px;
padding: 5px;
}
.links {
display: flex;
font-size: 18px;
padding: 5px;
gap: 20px;
}

.main{
    display: flex;
    padding: 10px 40px 10px 40px;
    background-color: #1F2937;
    color: white;
}
.mainimg {
width: 400px;
}
.subhead {
    font-size: 48px;
    font-weight: bolder;
    flex-wrap: wrap;
}
.subtext {
    font-size: 18px;
}
.button, .button2{
    background-color: #3882F6;

}
.random{
display:flex;
flex-direction: column;
align-items: center;

}
.boxatext{
font-size: 36px;
color: #1F2937 ;
padding: 20px;
}
.boxa{
    display: flex;
    gap:30px;
}
.boxables {
    width: 100px;
}
.boximg {
    width: 100px;
}

.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-style: italic;
    background-color: #E5E7EB;
}
.quotetext{
    display: flex;
    max-width: 600px;
    justify-content: space-around;
    
}
.ctamain{
    display: flex;
    padding: 60px;
    justify-content: center;
    align-items: center;
}

.cta{
    width: 750px;
    min-width: 300px;
    display: flex;
    background-color: #3882F6;
    align-items: center;
    justify-content: center;
}

.footer{
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: center;
}
